<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cssReset.css">
  <link rel="stylesheet" href="/css/getUserTracks.css">
  <title>Get Playlists</title>
</head>
<body>
  <h1>Playlists</h1>
  <section id="playlists">
    <section class="playlist">
      <p>Track Name</p>
      <p>1000 Tracks</p>
      <button>Show Playlist</button>
    </section>
  </section>
  <h2>Playlist Tracks:</h2>
  <section id="playlist-tracks">
    <p>Track</p>
  </section>
  <button id="getSavedTracks">Get Saved Tracks</button>
  <button>Get Playlists</button>
  <input type="text">
  <button>Download Playlist</button>
  <script src="/js/getUserTracks.js"></script>
</body>
</html>