<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/css-reset.css">
  <link rel="stylesheet" href="/css/general-styles.css">
  <link rel="stylesheet" href="/css/home-page.css">
  <title>MediaSaver</title>
</head>
<body>
  <h1>MediaSaver</h1>
  <a href="/spotifySearch">
    <span>
      Search Spotify Track
    </span>
    <img src="/images/Spotify_Icon.svg" alt="SpotifyIcon">
  </a>
  <a href="/spotifyAuth">
    <span>
      Get User Spotify Tracks
    </span>
    <img src="/images/Spotify_Icon.svg" alt="SpotifyIcon">
  </a>
</body>
</html>