<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cssReset.css">
  <link rel="stylesheet" href="/css/homePage.css">
  <title>Media Saver</title>
</head>
<body>
  <a href="/spotifySearch">
    <span>
      Search Spotify Track
    </span>
    <img src="/images/Spotify_Icon.svg" alt="SpotifyIcon">
  </a>
  <a href="/spotifyAuth">
    <span>
      Get Spotify Tracks
    </span>
    <img src="/images/Spotify_Icon.svg" alt="SpotifyIcon">
  </a>
</body>
</html>