<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/css-reset.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/index.css">
  <title>Yotify</title>
</head>
<body>
  <h1>Yotify</h1>
  <a class="page-link" href="/spotify/search">
    <span>
      Search Spotify Track
    </span>
    <img src="/images/Spotify_Icon.svg" alt="SpotifyIcon">
  </a>
  <a class="page-link" href="/spotify/auth">
    <span>
      Your Playlists
    </span>
    <img src="/images/Spotify_Icon.svg" alt="SpotifyIcon">
  </a>
</body>
</html>