<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cssReset.css">
  <link rel="stylesheet" href="/css/spotSearch.css">
  <title>Spotify Search</title>
</head>
<body>
  <h1>Search Spotify Track</h1>
  <section id="search-section">
    <input id="search-input" type="text">
    <button id="search-btn">Search</button>
  </section>
  <section id="search-results">
    <!-- Example:
    <section class="result">
      <img class='album-image' src="/images/Spotify_Icon.svg" >
      <section class="ellip-overflow">
        <p class="ellip-overflow m-b-5">Track Name</p>
        <p class="artist ellip-overflow">Artist Name</p>
      </section>
      <p class="album-name ellip-overflow">Album name</p>
      <p class="duration ellip-overflow">Duration</p>
      <button class="download-btn">
        <img class="download-image" src='/images/Download_Icon.png'>
      </button>
    </section> -->
  </section>
  <script src="/js/spotifySearch.js"></script>
</body>
</html>