<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cssReset.css">
  <link rel="stylesheet" href="/css/spotSearch.css">
  <title>Spotify Search</title>
</head>
<body>
  <h1>Search Spotify Track</h1>
  <section id="search-section">
    <input id="search-input" type="text">
    <button id="search-btn">Search</button>
  </section>
  <section id="search-results">
    <!-- Example:
    <section class="result">
      <section class="flex-align-center">
        <img class='album-image' src="/images/Spotify_Icon.svg" >
        <section>
          <p>Track Name</p>
          <p>Artist Name</p>
        </section>
      </section>
      <p>Ablum name</p>
      <p>Duration</p>
      <button class="download-btn">Download</button>
    </section> -->
  </section>
  <script src="/js/spotifySearch.js"></script>
</body>
</html>