html {
  font-family: Menlo, Helvetica, sans-serif;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.2;
}
ol, ul {
  list-style: none;
}
input:focus {
  outline: none;
}
a {
  color: black;
  text-decoration: none;
}