
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#playlists {
  border: 1px whitesmoke solid;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  overflow-y: auto;
  min-height: 20vh;
  max-height: 40vh;
  min-width: 300px;
  width: 40vw;
}

.playlist {
  border-bottom: 1px whitesmoke solid;
  display: grid;
  grid-template-columns: 80px 1fr 1fr 30px 30px;
  gap: 10px;
  align-items: center;
  padding: 5px;
  margin: 5px 5px 0;
}

.cover-image {
  border-radius: 5px;
  width: 100%;
}