
body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.page-link {
  border: 1px whitesmoke solid;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 4px #222;
  color: whitesmoke;
  font-size: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  transition: 100ms;
}

.page-link:hover {
  background-color: #222;
  transform: scale(1.02);
  box-shadow: 3px 3px 5px 6px #222;
}

.page-link:active {
  background-color: #121212;
  transform: scale(.98);
  box-shadow: 3px 3px 5px 2px #222;
}

.page-link span {
  padding-right: 10px;
}

.page-link img {
  height: 50px;
  width: 50px;
}