<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/css-reset.css">
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/spotify/tracks.css">
  <link rel="stylesheet" href="/css/spotify/playlists.css">
  <title>Playlists</title>
</head>
<body>
  <menu>
    <section class="links">
      <a href="/">
        <span>Home</span>
      </a>
      <a href="/spotify/search">
        <span>Spotify Search</span>
      </a>
    </section>
    <button id="downloader">Downloader: Zotify</button>
  </menu>

  <h1>Playlists</h1>
  <section id="playlists">
    <section class="playlist">
      <p>Image</p>
      <p>Playlist Name</p>
      <p class="track-count">Number of Tracks</p>
      <p>Show</p>
      <p>Save</p>
    </section>
    <!-- Example
    <section class="playlist">
      <img class='cover-image' src='Liked_Songs.png'></img>
      <p class="ellip-overflow">Playlist Name</p>
      <p>1000 Tracks</p>
      <button>Show Playlist</button>
    </section> -->
  </section>
  <h2>Playlist Tracks:</h2>
  <section id="tracks">
    <section class="track p-lrb-10">
      <p>Image</p>
      <p>Track & Artists</p>
      <p class="album-name">Album</p>
      <p class="duration">Duration</p>
      <p>Save</p>
    </section>
    <!-- Example:
    <section class="track">
      <img class='album-image' src="/images/Spotify_Icon.svg" >
      <section class="ellip-overflow">
        <p class="ellip-overflow m-b-5">Track Name</p>
        <p class="artist-name ellip-overflow">Artist Name</p>
      </section>
      <p class="album-name ellip-overflow">Album name</p>
      <p class="duration ellip-overflow">Duration</p>
      <button class="download-btn">
        <img class="download-image" src='/images/Download_Icon.png'>
      </button>
    </section> -->
  </section>
  <script src="/js/constants.js"></script>
  <script src="/js/downloader.js"></script>
  <script src="/js/createElement.js"></script>
  <script src="/js/modal.js"></script>
  <script src="/js/msTimeFormat.js"></script>
  <script src="/js/renderTrack.js"></script>
  <script src="/js/spotify/playlists.js"></script>
</body>
</html>