
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#search {
  display: flex;
  align-items: center;
  margin: 10px;
}

#query-input {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px whitesmoke solid;
  border-radius: 10px;
  color: whitesmoke;
  font-size: large;
  padding: 5px;
  margin-right: 15px;
  transition: 100ms;
}
#query-input:focus {
  transform: scale(1.04);
  box-shadow: 3px 3px 3px 1px black;
}